attr==0.3.2
colpali_engine==0.3.11
ConfigParser==7.2.0
cryptography==45.0.5
Cython==3.1.2
deepeval==3.2.6
deprecated==1.2.18
django_haystack==3.3.0
dl==0.1.0
docutils==0.21.2
fast_plaid==1.0.3
filelock==3.18.0
Flask==3.1.1
flask_cors==6.0.1
HTMLParser==0.0.2
importlib_resources==6.5.2
ini2toml==0.15
ipython==8.12.3
ipywidgets==8.1.7
itsdangerous==2.2.0
jnius==1.1.0
keyring==25.6.0
mod==0.3.0
openai==1.95.1
pandas==2.3.1
path.py==12.5.0
pdf2image==1.17.0
Pillow==11.3.0
pkg1==0.0.3
protobuf==6.31.1
pydantic==2.11.7
pymongo==4.13.2
pymupdf4llm==0.0.26
pyOpenSSL==25.1.0
pytest==8.4.1
python-dotenv==1.1.1
redis==6.2.0
rerankers==0.10.0
Sphinx==8.2.3
tiktoken==0.9.0
tinydb==4.8.2
torch==2.7.1
tqdm==4.67.1
transformers==4.51.3
trio==0.30.0
trio_websocket==0.12.2
trove_classifiers==2025.5.9.12
urllib3_secure_extra==0.1.0
usercustomize==1.0.0
websockets==15.0.1
xmlrpclib==1.0.1
xx==3.3.2
